!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= @title or raise "Please set the @title variable"
    %link(rel="stylesheet" href="/stylesheets/index.css")
    %link(href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css")
  %body

    .header
      %div{style: "width:100%; height: 60px; padding: 5px 0; background-color: black; color:white"}
        .restricted-width
          .top.float-left-if-enough-space
            Dan Stutzman
          .float-right-if-enough-space
            %img{height: "40", src: "/images/social-media-icons.png"}/

    %a{name: "about"}
      .nav-background
        .nav-links
          %a{href: "#about"} about
          %a.other{href: "#contact"} contact

    content in between

    %a{name: "contact"}
      .nav-background
        .nav-links
          %a.other{href: "#"} about
          %a{href: "#"} contact

    .restricted-width
      .content
        = yield
