.effect8(style='background:#FFF; width: 180px; left: 50px')
  %img(src='http://www.danielstutzman.com/images/2012-dec-professional-180.jpg')
%div(style='clear: both')

%img{height: "40", src: "/images/social-media-icons.png"}
