.nav-background
  .restricted-width
    .nav-links
      - %w[services blog resume].each do |page|
        - if name == page
          %h2
            %a{name: name, href: "##{page}"}
              = page
        - else
          %a.other{href: "##{page}"}
            = page
