!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width")
    %title Dan Stutzman
    %link(rel="stylesheet" href="/stylesheets/index.css")
    %link(href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css")
  %body(onload='zoom()')

    :javascript
      function zoom() {
        if (self.innerWidth && self.innerWidth > 1000) {
          document.body.style.zoom = "150%"
        }
      }

    .header
      .top-bar
        .restricted-width
          .top
            Dan&nbsp;Stutzman
        .top-bar-cover

    = yield
