!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width")
    %title Dan Stutzman
    %link(rel="stylesheet" href="/stylesheets/index.css")
    %link(href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css")
  %body(onload='zoom()')
    %h1(style='background-color:red')
      Don't forget to re-enable robots.txt

    .header
      .top-bar
        .restricted-width
          .top
            Dan&nbsp;Stutzman
        .top-bar-cover

    - if request.path_info == '/' || request.path_info == '/index.html.haml'
      = yield
    - else # blog post
      .restricted-width
        .content
          %h2= @title
          %br
          %i Published #{@date}
          = yield

    :javascript
      function zoom() {
        if (self.innerWidth && self.innerWidth > 1000) {
          document.body.style.zoom = "150%";
        }
      }
