%div(style='float:left; width:200px')
  .effect8(style='background:#FFF; width: 180px')
    %img(src='http://www.danielstutzman.com/images/2012-dec-professional-180.jpg')

%p If you have a Ruby or JavaScript web app that needs:
%p - back-end <b>integration</b> with existing solutions
%p - simpler safer <b>deployment</b> to the cloud
%p - more <b>monitoring</b> in place to catch problems early
%p I can help you explore options, cut through gnarly tech problems, setup according to best practices, and train your staff.
