- content_for :sidebar do
  = render 'blog_sidebar'

- last_path = Dir.glob('**/*.html.erb').max
- result = ERB.new(File.read(last_path)).result(get_binding)
-#%h2= @title # already included in layout
-#%i Published #{@date} # already included in layout
= result
