- content_for :sidebar do
  %div(style='height:400px')
    %p
      Phone
      %br
      %a(href='tel:720-432-3194')
        720-432-3194
    %p
      Email
      %br
      %a(href='mailto:dan@danstutzman.com')
        dan@danstutzman.com
  
    %p
      Social media
      %br
      %a(href='http://www.facebook.com/dtstutz') Facebook
      %br
      %a(href='https://github.com/danielstutzman') GitHub
      %br
      %a(href='https://www.linkedin.com/in/dan-stutzman-14015b9/') LinkedIn
      %br
      %a(href='https://twitter.com/danielstutzman') Twitter
