- content_for :sidebar do
  %div(style='height:400px')
    %p
      Phone
      %br
      %a(href='tel:720-432-3194')
        720-432-3194
    %p
      Email
      %br
      %a(href='mailto:dan@danstutzman.com')
        dan@danstutzman.com
  
    %p
      Social media
      %br
      %a(href='http://www.facebook.com/dtstutz') Facebook
      %br
      %a(href='https://github.com/danielstutzman') GitHub
      %br
      %a(href='http://www.linkedin.com/pub/daniel-stutzman/9/15b/140') LinkedIn
      %br
      %a(href='https://twitter.com/danielstutzman') Twitter
  
%h2 Project Phases
%dl
  %dt 1. Scope
  %dd Scope out project and assess if we're a good fit.
%dl
  %dt 2. Sketch
  %dd Sketch out mockups of screens together.  Prioritize work into milestones.  Negotiate fee for each milestone.  Sign contract.
%dl
  %dt 3. Build
  %dd Create working demo for each milestone.  Work outside milestones is billed hourly.
%dl
  %dt 4. Launch
  %dd Beta testing, launch, and ongoing maintenance, billed hourly.
%dl
  %dt 5. Hand-off
  %dd Dan helps to find and train a replacement.
