- @title = 'Dan Stutzman'

.header
  %div{style: "width:100%; height: 60px; padding: 5px 0; background-color: black; color:white"}
    .restricted-width
      .top.float-left-if-enough-space
        Dan Stutzman
      .float-right-if-enough-space
        %img{height: "40", src: "social-media-icons.png"}/
:css
  .nav-background {
  background-color: #060;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 1.0);
  margin-bottom: 1px;
  height: 30px;
  width: 100%;
  padding: 5px 0;
  line-height: 1.2;
    }
  .nav-links a {
    background-color: #000;
    color: transparent;
    text-shadow: 0px -1px 1px rgba(255,255,255,1.0);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    height: 35px;
    letter-spacing: 5px;
    padding-left: 50px;
    font-size: 20pt;
    font-weight: 800;
  }
%a{name: "about"}
  .nav-background
    .nav-links
      %a{href: "#about"} about
      %a.other{href: "#contact"} contact
content in between
%a{name: "contact"}
  .nav-background
    .nav-links
      %a.other{href: "#"} about
      %a{href: "#"} contact
.restricted-width
  .content
    .effect8{style: "background:#FFF; width: 180px; left: 50px"}
      %img{src: "http://www.danielstutzman.com/images/2012-dec-professional-180.jpg"}/
    %div{style: "clear: both"}
    .title
      %h1 Dan Stutzman, dev-ops freelancer
      .subtitle
        integration — deployment — monitoring
    .contact-info
      %a{href: "tel:7204323194"} 720-432-3194
      %br/
      %a{href: "mailto:dan@danstutzman.com"} dan@danstutzman.com
      %br/
      %a{href: "http://www.danstutzman.com"} www.danstutzman.com
    %div{style: "clear: both"}
    %h2 Seeking
    .right
      Short-term or part-time projects with Ruby/JS stack
      deployed to cloud
    %div{style: "clear: both"}
    %h2 Technologies
    .right
      %ul
        %li
          Languages:
          Bash, Java, JavaScript, Obj. C, Perl, PHP, Python, Ruby
        %li
          Databases:
          MongoDB, MySQL, Oracle, PostgreSQL, SQL Server, SQLite
        %li Other: Amazon EC2, Ant, Cruise Control, make, Nagios
    %div{style: "clear: both"}
    %h2 Experience
    .right
      .entry
        2013
        %a{href: "http://www.davincicoders.com"} DaVinci Coders
        in Louisville, CO
        %br/
        %ul
          %li
            Taught Web development with Ruby on Rails to beginners
      .entry
        2012
        %a{href: "http://www.quickleft.com"} Quick Left
        in Boulder, CO
        %br/
        %ul
          %li
            Helped develop and administer client Rails apps
      .entry
        2011
        = succeed "," do
          %a{href: "http://kidzout.com"} KIDzOUT
        %br/
        %ul
          %li
            Developed geolocation iPhone app with PHP back-end
      .entry
        2007-2011
        %a{href: "http://www.rosettastone.com"} Rosetta Stone
        in Boulder, CO
        %br/
        %ul
          %li
            Developed Rails apps to handle large collections of audio files
      .entry
        2003-2007
        %a{href: "http://www.rosettastone.com"} Rosetta Stone
        in Harrisonburg, VA
        %br/
        %ul
          %li
            Developed Rails e-commerce back-end that syncs to Oracle ERP
        %div{style: "clear: both"}
        %h2 Education
        .right
          .entry
            2010 M.S. in Computer Science from
            %a{href: "http://www.colorado.edu"} U. of Colorado at Boulder
          .entry
            2003 B.A. in Music from
            %a{href: "http://www.emu.edu"} Eastern Mennonite U.
            in Harrisonburg, VA
        %div{style: "clear: both"}
