- content_for :sidebar do
  .quote
    &ldquo;very recommended&rdquo;
  .quote
    &ldquo;creative, hard-working, inventive and his end product is clean and intuitive and on time&rdquo;
  .quote
    &ldquo;a tremendous, expert-level developer and consultant.&rdquo;
  .quote
    &ldquo;not only as a valued team member, but a team in his own right&rdquo;
  .quote
    &ldquo;very clear in his communication and was always very helpful in explaining things to us&rdquo;

%a{href: "#"}
  %div{style: "width:350px; float: left"}
    .caption Student Checklist
    .inner-frame
      %img.offhover{src: "/images/checklistblur.png", width: "280"}/
      %img.onhover{src: "/images/checklist.png", width: "280"}/
%a{href: "#"}
  %div{style: "width:350px; float: left; "}
    .caption KIDzOUT
    .inner-frame
      %img.offhover{height: "200", src: "/images/img-iphone5width330blur.png"}/
      %img.onhover{height: "200", src: "/images/img-iphone5width330.png"}/
%br{clear: "left"}/
%br/
%br/
%br/
%br/
%a{href: "#"}
  %div{style: "width:350px; height: 300px; float: left"}
    .caption Project AQUA
    .inner-frame
      %img.offhover{src: "/images/aquaclipblur.png", width: "270"}/
      %img.onhover{src: "/images/aquaclip.png", width: "270"}/
%a{href: "#"}
  %div{style: "width:350px; height: 300px; float: left; "}
    .caption Audio Collection Tool
    .inner-frame
      %img.offhover{src: "/images/actclipblur.png", width: "280"}/
      %img.onhover{src: "/images/actclip.png", width: "280"}/
