.title
  %h1 Dan Stutzman, dev-ops freelancer
  .subtitle
    integration — deployment — monitoring

.contact-info
  %a{href: "tel:7204323194"} 720-432-3194
  %br/
  %a{href: "mailto:dan@danstutzman.com"} dan@danstutzman.com
  %br/
  %a{href: "http://www.danstutzman.com"} www.danstutzman.com
%div{style: "clear: both"}

%h3.resume Seeking
.right
  Short-term or part-time projects with Ruby or JavaScript stack
  deployed to cloud
%div{style: "clear: both"}

%h3.resume Technologies
.right
  %ul
    %li
      %b Languages:

      Bash, C, C♯, CSS, HTML, Java, JavaScript, Objective C, OCaml, Perl, PHP, PL/SQL, PL/pgsql, Python, Ruby, Scala, SQL, VBA, x86 Assembly

    %li
      %b Databases:
      MonetDB, MongoDB, MySQL, Oracle, PostgreSQL, SQL Server, SQLite
    %li
      %b Other:
      Amazon EC2, Ansible, Ant, CentOS, Cruise Control, Git, make, Nagios, Subversion
%div{style: "clear: both"}

%h3.resume Experience
.right
  .entry
    2013
    %a{href: "http://www.davincicoders.com"} DaVinci Coders
    in Louisville, CO
    %br/
    %ul
      %li Sole developer for Rails+JavaScript web app to track classroom progress
      %li Taught Web development with Ruby on Rails to beginners
  .entry
    2012
    %a{href: "http://www.quickleft.com"} Quick Left
    in Boulder, CO
    %br/
    %ul
      %li Back-end developer for client Rails apps
      %li Integrated client Rails app with digitally signed SAP logon tickets
      %li Adapted Rails app to production environment
  .entry
    2011
    = succeed "," do
      %a{href: "http://kidzout.com"} KIDzOUT
    Inc. in Boulder, CO
    %br/
    %ul
      %li Sole developer for geolocation iPhone app in Objective C with PHP back-end
      %li Sole developer for JavaScript demo of iPhone app
  .entry
    2007-2011
    %a{href: "http://www.rosettastone.com"} Rosetta Stone
    in Boulder, CO
    %br/
    %ul
      %li Sole developer for Ruby+Java-based data warehouse to summarize growing audio corpora
      %li Sole developer for Rails+JavaScript sites to collect, browse, and annotate audio corpora
      %li Sole developer for Java web applet to collect audio from remote users
  .entry
    2003-2007
    %a{href: "http://www.rosettastone.com"} Rosetta Stone
    in Harrisonburg, VA
    %br/
    %ul
      %li Sole developer for Rails e-commerce back-end to sync to Oracle ERP
      %li Adapted Oracle iStore web app to become the point of sale solution
      %li Developer on Scrum team of Java Swing app for managing curriculum
      %li Improved Ant/Tomcat deployment process for GWT app
%div{style: "clear: both"}

%h3.resume Education
.right
  .entry
    2010 M.S. in Computer Science from
    = succeed "," do
      %a{href: "http://www.colorado.edu"} U. of Colorado at Boulder
    GPA 4.0
    %ul
      %li Wrote new language for inductive predicates for static analysis project 
      %li Built machine translation using synchronized syntax tree transfer rules
      %li Classified motion by machine learning on accelerometer data
  .entry
    2003 B.A. in Music from
    %a{href: "http://www.emu.edu"} Eastern Mennonite U.
    in Harrisonburg, VA,
    GPA 3.95
    %div{style: "clear: both"}
