:css
  .print-only { display: none; }
  @media print {
    .print-only { display: block; }
  }
  li ul { padding-top: 10px; padding-bottom: 10px; }

.print-only
  %h2 Dan Stutzman
  %br
  %li Phone: 720-432-3194
  %li Email: dan@danstutzman.com
  %li Web: www.danstutzman.com
  %li GitHub: danstutzman

%h3 Professional experience
%ul
  %li
    %b Software Engineer
    at
    %b virtualQ, GmbH.
    in Stuttgart, Germany (2017-present)
    %ul
      %li Migrated from inflexible AWS OpsWorks configuration using immutable-style shell and Ruby scripts so developers can maintain it
      %li Migrated to OpenStack to meet customer requirement, using scripted APIs despite poor documentation
      %li Sped up reporting with automated nightly data transfer from PostgreSQL to BigQuery
      %li Increased flexibility of data access with various custom security features in Rails app
      %li Estimated on-hold times using Twilio's speech detection metrics as machine learning features
  %li
    %b Software Engineer
    at
    %b Hapara, Inc.
    in Boulder, CO (2014-2015)
    %ul
      %li Created data pipeline for new product that spidered metadata for hundreds of thousands of Google Docs in hours, using asynchronous I/O and Redis for deduplication
  %li
    %b Instructor
    at
    %b DaVinci Institute
    in Louisville, CO (2013-2014)
    %ul
      %li Developed and taught curriculum and exercises for Ruby on Rails introduction to programming class
  %li
    %b Software Developer
    at
    %b Quick Left
    in Boulder, CO (2012)
    %ul
      %li Developed custom single-sign-on integration to client's CRM software
      %li Contributed front-end features in Ruby and JavaScript
      %li Set up production server for client
  %li
    %b Freelance Software Developer
    for
    %b KIDzOUT, Inc.
    (2011-2012)
    %ul
      %li Built iOS app for locating nearby family-friendly businesses
      %li Built backend server that scraped Google Maps
      %li Built a JavaScript-based web demo of the iOS app
  %li
    %b Software Developer
    at
    %b Rosetta Stone
    in Boulder, CO (2007-2010)
    %ul
      %li Built web app to organize large audio corpora recorded by users of a language learning product
      %li Built Java applet and web app to collect audio from remote users to add new languages to a speech recognition engine
      %li Built web app to collect, browse, and annotate audio corpora, to add new languages to a speech recognition engine
      %li Built web app to test English language skills of a Japanese audience
      %li Prototyped visualizations to track success of language learning product users
  %li
    %b Software Developer
    at
    %b Rosetta Stone
    in Harrisonburg, VA (2003-2007)
    %ul
      %li Built backend for E-commerce web app to synchronize with Oracle order management ERP
      %li Adapted third-party web app for point of sale at airport kiosks
      %li Contributed to Java Swing app for managing curriculum

%h3 Education
%ul
  %li
    %b M.S.
    in
    %b Computer Science
    at
    %b University of Colorado at Boulder
    (2010)

%ul
  %li
    %b B.A.
    in
    %b Music Performance
    at
    %b Eastern Mennonite University
    Harrisonburg, VA
    (2003)

%h3 Tools I've worked with
%ul
  %li
    %b Application servers
    Cocoon, Jetty, Puma, Tomcat, Unicorn
  %li
    %b DevOps
    Ansible, Chef, CircleCI, Docker, Jenkins, Terraform, Vagrant
  %li
    %b Databases
    BigQuery, MongoDB, Microsoft SQL Server, MySQL, Oracle, PostgreSQL, SQLite
  %li
    %b Languages
    Bash, Go, Java, JavaScript, PHP, PL/SQL, Python, Ruby, TypeScript
  %li
    %b Web frameworks
    Angular, React, Rails, Sinatra
  %li
    %b Web servers
    Apache, Nginx
