- content_for :sidebar do
  %b Project name
  %p Audio Collection Tool

  %b Problem to solve
  %p Speech recognition for educational software product requires many audio recordings of many phrases in many languages by many native speakers.

  %b Form of solution
  %p Web app, Java applet

  %b Challenges
  %p Manage files on disk from web app, intuitive user interface, Java audio API

  %b Technologies
  %p MySQL, Ruby on Rails, Java, Swing, PayPal API

%img(src='/images/act/applet.png' width=650)
%br
%br
%br
%br
%img(src='/images/act/sound_check.png' width=650)
%br
%br
%br
%br
%img(src='/images/act/home.png')
