- content_for :sidebar do
  %b Project name
  %p ACT (Audio Collection Tool)

  %b Description
  %p Web app for speakers of certain languages to record themselves reading preset phrases in exchange for payment

  %b Challenges
  %p Manage files on disk from web app, intuitive user interface, Java audio API

  %b Technologies
  %p MySQL, Ruby on Rails, Java, Swing

%div(style='width:650px;overflow:scroll')
  %img(src='/images/act/applet.png')
  %br
  %br
  %br
  %br
  %img(src='/images/act/sound_check.png')
%br
%br
%br
%br
%img(src='/images/act/home.png')
