- content_for :sidebar do
  %b Project name
  %p AQUA (Audio Quality Assurance)

  %b Description
  %p Web app to manage and annotate audio recordings for a multimedia software product.

  %b Unique challenges
  %p Big data, non-western character sets, fast annotation

  %b Technologies
  %p Ruby on Rails, JavaScript, Java, MySQL, MongoDB

%div(style='width:650px;overflow:scroll')
  %img(src='/images/aqua/words.png')
  %br
  %br
  %br
  %br
%img(src='/images/aqua/grades.png')
%br
%br
%br
%br
%div(style='overflow:scroll')
  %img(src='/images/aqua/spectrogram.png')
