- content_for :sidebar do
  %b Project name
  %p AQUA (Audio Quality Assurance)

  %b Problem to solve
  %p Massive incoming flow of audio recordings need human analysis to improve speech recognition in educational software product.

  %b Form of solution
  %p Web app and data warehouse

  %b Unique challenges
  %p Big data, non-western character sets, fast annotation

  %b Technologies
  %p Ruby on Rails, JavaScript, Java, MySQL, MongoDB

%div(style='width:650px;overflow:scroll')
  %img(src='/images/aqua/words.png')
  %br
  %br
  %br
  %br
%img(src='/images/aqua/grades.png')
%br
%br
%br
%br
%div(style='overflow:scroll')
  %img(src='/images/aqua/spectrogram.png')
