- content_for :sidebar do
  %b Project name
  %p Basic Ruby

  %b Problem to solve
  %p
    Students in computer programming bootcamp struggled with basic
    computer science concepts.

  %b Form of solution
  %p Web app

  %b Unique challenges
  %p Reimplementing Ruby interpreter
  %p Complex fluid layout
  %p JavaScript/CSS animation
  %p YouTube screencasts

  %b Technologies
  %p
    Ruby on Rails, JavaScript, React.js, Opal, PostgreSQL, Ansible, Docker

%img(class='frame' src='/images/basicruby/menu.png' width=600)
%br
%br
%br
%img(class='frame' src='/images/basicruby/blue.png' width=600)
%br
%br
%br
%img(class='frame' src='/images/basicruby/debugger.png' width=600)
