- content_for :sidebar do
  %a(href='/portfolio/testimonials')
    .quote
      &ldquo;very recommended&rdquo;
    .quote
      &ldquo;creative, hard-working, inventive and his end product is clean and
      intuitive and on time&rdquo;
    .quote
      &ldquo;a tremendous, expert-level developer and consultant.&rdquo;
    .quote
      &ldquo;not only as a valued team member, but a team in his own right&rdquo;
    .quote
      &ldquo;very clear in his communication and was always very helpful in
      explaining things to us&rdquo;

%a(href='/portfolio/basicruby')
  .project
    .caption Basic Ruby (2014)
    .inner-frame
      %img(src='/images/basicrubyrotated.png' width=282 height=200)

%a(href='/portfolio/kidzout')
  .project
    .caption KIDzOUT (2011)
    .inner-frame
      %img(src='/images/kidzoutrotated.png' width=282 height=200)

%a(href='/portfolio/aqua')
  .project
    .caption AQUA (2009)
    .inner-frame
      %img(src='/images/aquarotated.png' width=282 height=200)

%a(href='/portfolio/act')
  .project
    .caption Audio Collection Tool (2008)
    .inner-frame
      %img(src='/images/actrotated.png' width=282 height=200)
