- content_for :sidebar do
  %a(href='/portfolio/testimonials')
    .quote
      &ldquo;Daniel is an outstanding programmer. His knowledge is vast. He is creative, hard-working, inventive and his end product is clean and intuitive and on time! It was a pleasure to work with Daniel on our iPhone app project. He did everything we asked of him and more. He anticipated problems, before they became problems, and the end result is an incredibly user friendly app that requires no instructions to use. I cannot praise Daniel enough. He cares deeply about his product and his character is exemplary.&rdquo;
      %br
      &mdash;Robert Hicks, Co-founder, KIDzOUT Inc.
    .quote
      &ldquo;Daniel is a great asset to our project; his take charge personality drives quality while adhering to schedules and budgets. His ability to manage both high level, visionary issues as well as the minute details that actually deliver the vision is remarkable. He is an effective communicator, and we came to think of him not only as a valued team member, but a team in his own right because he was willing to take on facets of development that might not have been the perfect fit for his current or preferred skills, but he learned the required skills on the fly and executed them perfectly.&rdquo;
      %br
      &mdash;Seth Heine, Co-founder, KIDzOUT Inc.

%dl
  %dt Project name
  %dd KIDzOUT
%dl
  %dt Problem to solve
  %dd Traveling parents need to find nearby services (restaurants, recreation, changing stations, etc.) for their young children.
%dl
  %dt Form of solution
  %dd iPhone app &amp; backend, web app
%dl
  %dt Unique challenges
  %dd Designing an intuitive user interface
  %dd Testing asynchronous web service calls
  %dd Mashing up various data sources
%dl
  %dt Technologies
  %dd Objective C
  %dd PHP
  %dd MySQL
%dl
  %dt Timeline
  %dd Mar 2011 Begin back-end
  %dd Apr 2011 Take over iPhone app prototype
  %dd Dec 2011 Launch
  %dd
    Mar 2012 Handoff to
    %a(href='http://logisticslogic.com/') Logistics Logic

%br
%br
%br
%h2 Screenshots of iPhone app
%img(src='/images/kidzout/iphone1.png' width=282 height=550)
%img(src='/images/kidzout/iphone2.png' width=282 height=550
  style='margin-left:85px')
%div(style='height:60px')
%img(src='/images/kidzout/iphone3.png' width=282 height=550)
%img(src='/images/kidzout/iphone4.png' width=282 height=550
  style='margin-left:85px')

%br(clear='all')
%h2 Screenshots of JavaScript web app
%img(src='/images/kidzout/js1.png' width=1033)
%br
%br
%br
%br
%img(src='/images/kidzout/js2.png' width=1033)


%br
%br
%br
%h2 Screenshot of administrative back end
%div(style='width:1033px; overflow:scroll')
  %img(src='/images/kidzout/admin.png')
