- content_for :sidebar do
  %b Project name
  %p Student Checklist

  %b Description
  %p Web app for students to record ongoing progress or with class assignments

  %b Challenges
  %p Real-time sync between student and instructor's displays

  %b Technologies
  %p Ruby, Sinatra, JavaScript, Comet, PostgreSQL

%img(src='/images/student-checklist/checklist.png')
%br
%br
%br
%br
%br
%br
%img(src='/images/student-checklist/schedule.png')
